@font-face {
  font-family: 'Fraktif Light';
  src: url('/fonts/DLFrack.woff2') format('woff2'),
    url('/fonts/DLFrack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apoc Regular';
  src: url('/fonts/Apoc-Regular.woff2') format('woff2'),
    url('/fonts/Apoc-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
