@import 'vendor/reset';

@import 'fonts';

@import 'base/typography';

@import 'components/statement-basic';
@import 'components/case-study';

html {
  font-family: 'Fraktif Light', sans-serif;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
section {
  // padding: 1rem;
  background-color: var(--background);
}

.case-study {
  color: #fff;
}
