.case-study {
  color: #fff;
  &__slides {
    display: grid;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-auto-flow: column;
    // height: 24rem;
    width: 100vw;
    height: calc(100vw / var(--aspect-ratio));

    --aspect-ratio: (818 / 319);
  }
  &__slide {
    width: 100vw;
    max-width: unset;
  }
  &__meta {
    font-size: 1.5rem;
    line-height: 1.125;
    display: grid;
    grid-row-gap: 2rem;
    justify-content: space-between;
    padding: 3rem 1rem;
    text-transform: uppercase;

    @include screen(sm) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__meta-tag {
    display: flex;
    gap: 1ch;
  }
}
