.case-study {
  color: #fff;
  &__slides {
    position: relative;
    display: grid;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-auto-flow: column;
    // height: 24rem;
    width: 100vw;
    height: calc(100vw / var(--aspect-ratio));

    --aspect-ratio: (818 / 319);
  }
  &__slide-container {
    $transition-timing-function: $ease--in-out-circ;
    $transition-duration: 700ms;

    position: absolute;
    overflow: hidden;
    width: 100vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    &-enter {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

      img {
        transform: scale(1.3) translateX(2rem);
      }
    }
    &-leave-to {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

      img {
        transform: scale(1.3) translateX(-2rem);
      }
    }
    &-enter-active {
      transition: all $transition-duration;
      transition-timing-function: $transition-timing-function;
      img {
        transition: all $transition-duration;
        transition-timing-function: $transition-timing-function;
      }
    }
    &-leave-active {
      transition: all $transition-duration;
      transition-timing-function: $transition-timing-function;

      img {
        transition: all $transition-duration;
        transition-timing-function: $transition-timing-function;
      }
    }
  }
  &__slide {
    // max-width: unset;
  }
  &__slide-action {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 6rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  &__meta {
    font-size: 1.5rem;
    line-height: 1.125;
    display: grid;
    grid-row-gap: 2rem;
    justify-content: space-between;
    padding: 3rem 1rem;
    text-transform: uppercase;

    @include screen(sm) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__meta-tag {
    display: flex;
    gap: 1ch;
  }
}
