.footer {
  font-size: 1.5rem;
  display: grid;
  padding: 1rem;
  text-transform: uppercase;
  color: $color--contrast;
  background-color: $color--neutral;
  &__row-top {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    margin-bottom: 5rem;
    span {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-self: start;
      &:after {
        display: block;
        justify-self: end;
        width: 1rem;
        height: 1rem;
        margin-left: 3rem;
        content: '';
        border: 1px solid currentColor;
        border-radius: 100%;
      }
    }
    &:before {
      margin-right: 3rem;
      content: '↑';
    }
    &:after {
      display: block;
      justify-self: end;
      width: 1rem;
      height: 1rem;
      content: '';
      border-radius: 100%;
      background-color: currentColor;
    }
  }

  &__row-bottom {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-self: end;
    margin-bottom: 10rem;
    // margin-right: 25vw;
    &:before,
    &:after {
      width: 1.5rem;
      height: 1.5rem;
      content: '';
      border: 1.5px solid currentColor;
      border-radius: 100%;
    }
    &:before {
      display: block;
      margin-right: 3rem;
    }
    &:after {
      display: none;
      grid-column: 2;
      margin-right: 6.5rem;
      box-shadow: 2rem 0 0;

      @include screen(sm) {
        display: block;
      }
    }
    span {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      &:after {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 3rem;
        content: '';
        border: 1.5px solid currentColor;
        border-radius: 100%;
      }
    }
  }
  &__brand {
    line-height: 1;
    display: grid;
    justify-self: end;
    place-items: center;
    width: 2.5rem;
    padding: 1rem 0.5rem;
    text-align: center;
    word-break: break-all;
    border: 1px solid currentColor;
    border-radius: 100%;
    abbr {
      text-decoration: none;
    }
  }
}
