.intro {
  min-height: 90vh;
  background-image: url('@/assets/img/gradient.png');
  background-size: cover;
  font-size: 2rem;
  &__title {
    padding: 2rem 1rem 0;
    margin-bottom: 7rem;
    span {
      display: block;
    }
  }
  &__logotype {
    font-family: 'Apoc Regular', serif;
  }
  &__logo {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
