.intro {
  min-height: 100vh;
  background-image: url('@/assets/img/gradient.png');
  background-size: cover;
  font-size: 2rem;
  display: grid;
  align-content: end;
  @include screen(sm) {
    align-content: unset;
  }
  &__title {
    padding: 2rem 1rem 2rem;
    @include container;
    @include screen(sm) {
      padding-top: 5rem;
    }
    span {
      display: block;
    }
  }
  &__logotype {
    font-family: $font--display;
  }
  &__logo {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem 2rem;
  }
}
