.marquee {
  padding: 5rem 0;
  background-color: #fbcce0;
  font-size: 1.5rem;
  width: 100vw;
  overflow: hidden;
  @include screen(sm) {
    font-size: 2rem;
  }
  &__inner {
    &.vue-loop-scroll {
      height: 7rem;
    }
    // display: grid;
    // grid-column-gap: 5rem;
    // @include screen(sm) {
    //   grid-column-gap: 10rem;
    // }
    // grid-auto-flow: column;
    // padding: 0 5rem;
    // transform: translateX(calc(var(--drift) * -1));
  }
  &__tag {
    padding: 0.75rem 1.5rem;
    border: 1px solid currentColor;
    margin-left: 5rem;

    white-space: nowrap;
    border-radius: 0.75rem;
    @include screen(sm) {
      padding: 1rem 2rem;
      margin-left: 10rem;
    }
    &:nth-of-type(even) {
      border-radius: 4rem;
    }
  }
}
