.marquee {
  padding: 5rem 0;
  background-color: #fbcce0;
  font-size: 2rem;
  width: 100vw;
  overflow: hidden;
  &__inner {
    display: grid;
    grid-column-gap: 10rem;
    grid-auto-flow: column;
    padding: 0 5rem;
  }
  &__tag {
    padding: 1rem 2rem;
    border: 1px solid currentColor;
    white-space: nowrap;
    border-radius: 0.75rem;
    &:nth-of-type(even) {
      border-radius: 4rem;
    }
  }
}
