.section-simple {
  font-size: 2rem;
  padding: 3rem 1rem 10rem;
  border-bottom: 1px solid currentColor;

  @include screen(sm) {
    font-size: 3rem;
  }
  &__inner {
    @include container;
  }
  &__header {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    &:after {
      margin-left: 2rem;
      content: '↓';
    }
  }
  &__content {
    line-height: 1.125;
    text-align: center;
    @include screen(sm) {
      font-size: 4.5rem;
    }
    p + p {
      margin-top: 1em;
    }
  }
}
