.statement-basic {
  font-size: 1.5rem;
  padding: 3rem 1rem;
  color: $color--contrast;
  background-color: $color--neutral;

  @include screen(sm) {
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__inner {
    @include container;
  }
  &__title {
    margin-bottom: 10rem;
    em {
      font-style: normal;
      font-family: $font--display;
    }
  }

  &__footer {
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
    max-width: 14ch;
  }
  .word {
    clip-path: polygon(0 0, 100% 0, 100% 115%, 0 115%);
    transform: translateY(0);
    transition: all 0.8s $ease--out-expo;
  }
  .word {
    display: inline-block;

    transition-delay: calc(var(--line-index) * 0.1s);
  }
  &--hidden {
    .word {
      transform: translateY(1em);
      clip-path: polygon(0 0%, 100% 0%, 100% 0%, 0 0%);
    }
  }
}
