.statement-basic {
  font-size: 2rem;
  padding: 3rem 1rem;
  color: $color--contrast;
  background-color: $color--neutral;

  @include screen(sm) {
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__inner {
    @include container;
  }
  &__title {
    margin-bottom: 10rem;
  }

  &__footer {
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
    max-width: 15ch;
  }
}
