.statement-animated {
  font-size: 2rem;
  padding: 3rem 1rem;
  @include screen(sm) {
    font-size: 3rem;
  }
  &__inner {
    @include container;
  }
  &__title {
    max-width: 23ch;
    margin-bottom: 15rem;
    position: relative;
  }
  &__title-wrapped {
    display: inline-block;
    max-width: 11ch;
    @include screen(486px) {
      max-width: 15ch;
    }
    @include screen(850px) {
      max-width: unset;
    }
  }
  &__svg {
    --percent-complete: 0;
    display: inline-block;
    width: 7ch;
    padding-right: 2ch;
    stroke-width: 4;
    position: absolute;
    top: 5.5ch;
    right: 0;
    // stroke-width: 4;
    // stroke-dasharray: 33rem;
    // stroke-dashoffset: 33rem;
    @include screen(486px) {
      top: 4ch;
    }
    @include screen(850px) {
      top: 2.5ch;
    }
  }
  &__positioned {
    display: block;
    text-align: right;
    position: absolute;
    top: 9.5ch;
    right: 0;
    @include screen(486px) {
      top: 8ch;
    }
    @include screen(850px) {
      top: 6.5ch;
    }
  }

  &__footer {
    font-size: 1.5rem;
    line-height: 1;
    max-width: 16ch;
    text-transform: uppercase;
  }
}
