.statement-basic {
  background-color: #000;
  color: #fff;
  padding: 3rem 1rem;
  font-size: 2rem;

  @include screen(sm) {
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &__inner {
    @include container;
  }
  &__title {
    margin-bottom: 10rem;
  }

  &__footer {
    max-width: 16ch;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
  }
}
