.statement-animated {
  font-size: 3rem;
  padding: 3rem 1rem;

  &__title {
    margin-bottom: 15rem;
    max-width: 23ch;
  }

  &__footer {
    max-width: 18ch;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1;
  }
}
