.statement-animated {
  font-size: 2rem;
  padding: 3rem 1rem;

  @include screen(sm) {
    font-size: 3rem;
  }
  &__title {
    max-width: 23ch;
    margin-bottom: 15rem;
  }

  &__footer {
    // font-size: 1rem;
    font-size: 1.5rem;
    line-height: 1;
    max-width: 18ch;
    text-transform: uppercase;
  }
}
