$font--display: 'Apoc Regular', serif;
$font--text: 'Fraktif Light', sans-serif;

$breakpoints: (
  sm: 37.5rem,
  md: 56rem,
  lg: 75rem,
);

$ease--in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease--out-expo: cubic-bezier(0.19, 1, 0.22, 1);
